.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #03be9f;
  border: 1px solid #03be9f;
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
}

.loadingSkeleton {
    background: #03be9f;
    background: linear-gradient(110deg, #03be9f 8%, #71c3b4 18%, #03be9f 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 2.3s shine linear infinite;
    height: 95px;
    margin: 8px 0;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
